.about {
  width: 100%;
  @include flex(center, start);
  margin-top: rem(15px);

  .gallery {
    @include flex(space-between, start, column);
    &__img {
      width: 400px;
      height: 520px;

      object-fit: cover;
      margin-right: 37px;

      border-radius: 6px;
      background-color: $border;
    }

    &__photos {
      @include flex(space-between, center);
      max-width: 400px;
      flex-wrap: wrap;

      width: 100%;
      gap: 2px;
      margin-top: 20px;

      &--img {
        width: 90px;
        height: 90px;

        object-fit: cover;
        border-radius: 6px;

        margin: 0 0 20px;
        background-color: $border;
      }
    }
  }

  .about-me {
    @include SFProRegular;
    font-size: rem(18px);

    margin: 0 0 0 37px;
    color: $blackPrimary;

    &__p {
      width: rem(430px);
      margin-bottom: 20px;
    }
  }
}
